.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 350px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
    
label {
  color: black;
}
    
input[type=text] {
  width: 313px;
  height: 30px;
  padding: 0.3rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
}
    
.btn {
  color: white;
  background-color: #1981ba;
  margin: 15px 0;
  padding: 3px 122px;
}